@{
    ViewData["Title"] = "Übung hinzufügen";
}
@model TrainingsPlanApplikation.Models.Domain.Exercise

<link rel="stylesheet" href="~/css/form.css"/>
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

<h1>Übung hinzufügen</h1>
<h2>Trainingsplan 1</h2>
<form>
    <label asp-for="Title"></label>
    <input asp-for="Title">
    <span asp-validation-for="Title"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description">
    <span asp-validation-for="Description"></span>

    <label asp-for="Reps"></label>
    <input asp-for="Reps">
    <span asp-validation-for="Reps"></span>

    @*<label asp-for="Image"></label>
    <input asp-for="Image" type="file" accept="image/*" >
    <#<span asp-validation-for="Image"></span>*@

    <br>
    <button type="submit" class="green">
        hinzufügen
    </button>
</form>

