@{
    ViewData["Title"] = "Übung hinzufügen";
}
@model TrainingsPlanApplikation.Models.ViewModel.AddExerciseViewModel

<link rel="stylesheet" href="~/css/form.css"/>
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

<h1>Übung hinzufügen</h1>
<h2>Trainingsplan 1</h2>
<form asp-action="AddExerciseToPlan" method="post" class="form">
    <label asp-for="Exercise.Title"></label>
    <input asp-for="Exercise.Title">
    <span asp-validation-for="Exercise.Title"></span>

    <label asp-for="Exercise.Description"></label>
    <input asp-for="Exercise.Description">
    <span asp-validation-for="Exercise.Description"></span>

    <label asp-for="Exercise.Reps"></label>
    <input asp-for="Exercise.Reps">
    <span asp-validation-for="Exercise.Reps"></span>

    @*<label asp-for="Image"></label>
    <input asp-for="Image" type="file" accept="image/*" >
    <#<span asp-validation-for="Image"></span>*@
    
    @Html.HiddenFor(x => x.TrainingPlanId);

    <br>
    <button type="submit" class="green">
        hinzufügen
    </button>
</form>

