@{
    ViewData["Title"] = "Plan 1";
}

<link rel="stylesheet" href="~/css/plan.css"/>


<h1>Trainingsplan 1</h1>
<h2>Alle Übungen</h2>

<div class="Overview">
    
    <div class="Exercise">
        <div class="informations">
            <span class="title">Übung 1</span>
            <span class="description">Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung. Das ist eine Beschreibung</span>
        </div>
        <div class="img">
            <img src="~/img/schulterpresse.jpg">
        </div>
        <div class="reps">
            <span>3 Wiederholungen</span>
        </div>
    </div>

    <div class="Exercise">
        <div class="informations">
            <span class="title">Übung 1</span>
            <span class="description">Das ist eine Beschreibung</span>
        </div>
        <div class="img">
            <img src="~/img/schulterpresse.jpg">
        </div>
        <div class="reps">
            <span>13 Wiederholungen</span>
        </div>
    </div>

</div>