@{
    ViewData["Title"] = "Plan 1";
}

<link rel="stylesheet" href="~/css/plan.css"/>


<h1>Trainingsplan 1</h1>
<h2>Alle Übungen</h2>

<div class="Overview">
    
    <div class="Exercise">
        <div class="informations">
            <span class="title">Schulterpresse</span>
            <span class="description">Bei der Schulterpresse nimmt man zwei kurzhanteln und drückt diese mit seiner Schulterkraft nach oben. Dabei ist ein gerader Rücken sehr wichtig.</span>
        </div>
        <div class="img">
            <img src="~/img/schulterpresse.jpg">
        </div>
        <div class="reps">
            <span>3 Wiederholungen</span>
        </div>
    </div>

    <div class="Exercise">
        <div class="informations">
            <span class="title">Squads</span>
            <span class="description">Mit Squads werden die Beine stark trainiert. Dabei kann ein sehr hohes gewicht gewählt werden.</span>
        </div>
        <div class="img">
            <img src="~/img/schulterpresse.jpg">
        </div>
        <div class="reps">
            <span>13 Wiederholungen</span>
        </div>
    </div>

</div>