@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1>TrainingsPlan Applikation</h1>
    <h2>Willkommen zur TrainingsPlan Appliation.</h2>
    <a asp-action="Index" asp-controller="Overview"><button class="green">Zu den TrainingsPlänen</button></a>
</div>
